extends layout

block content
  h1= title
  
  h2 General functions
  pre /
  p Displays this page.

  pre /login {email, password}
  p Basic login function, returns a token to use for all further connectivity.

  pre /logout {email, token}
  p Logs the user out of the system and removes the token from the database.

  h2 User related functions
  pre /user/register
  p Lets a non-logged in user register their details, the registration has to be approved before the user can log in.

  pre /user/create
  p Displays this page.

  pre /user/get
  p Displays this page.

  pre /user/getRegistrations
  p Displays this page.

  pre /user/setState
  p Displays this page.

  pre /user/addToGroup
  p Displays this page.

  pre /user/removeFromGroup
  p Displays this page.
    

  h2 App related functions

  form(action='http://localhost:3000/app/uploadFile', method='post', enctype='multipart/form-data')
    p
      mlab_guid
      input(type='text', name='mlab_guid', value='4eb5046865ff5258e339e124a909e3da')
    p
      version
      input(type='text', name='version', value='1.0')
    p
      os
      input(type='text', name='os', value='android')
      input(type='hidden', name='token', value='6739ff54-e6a7-416d-a56b-0e6eaef41632')
      
    p
      input(type='file', name='app_file')
    p
      button(type='submit') Submit

