doctype html
html
  head
    title Mlab Marked
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/stylesheets/market.css')
  body
    .hideNoSpace
      | Icons made by 
      a(href='http://www.freepik.com', title='Freepik') Freepik
      |  from 
      a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
      |  is licensed by 
      a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
    .row_top
      img(src='/images/top.png')
    .row_content
      img.img(src='/images/img.png')
      .img_banner  
      .img_heading Mlab Marked
      img.img(src='/images/imgBottom.png')
      .search
        select.dropdown
          option(value='FSK') FSK
          option(value='Sjø') Sjø
          option(value='Luft') Luft
          option(value='Land') Land
        img.arrow(src='/images/arrow.png')
        select.dropdown
          option(value='none') Velg kategori
          option(value='skarpt') Skarpt
          option(value='ovelse') Øvelse
          option(value='skade') Skade
        img.arrow(src='/images/arrow.png')
        select.dropdown
          option(value='none') Velg kategori
        input.search_input
        img.search_img(src='/images/magnifying-glass.png')
      .apps
        h2.welcome_heading Velkommen til Forsvarets App Marked
        .welcome_text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2.App_section_heading Nye Apper:
        .all_apps
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon2.png')
              .app_heading Grunnleggende kurs i våpenhåndtering - for alle håndholdte våpen
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 12mb | v1.3
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon4.png')
              .app_heading Sikkerhetskurs i behandling av sårbare data
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 21mb | v2.0
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon6.png')
              .app_heading Sjekkliste ved brann i HQ - hvem og hva reddes i hvilken rekkefølge
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 3mb | v1.1
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon1.png')
              .app_heading Vitenskapsteori og vitenskapelig praksis, del 1
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 14mb | v3.1
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon3.png')
              .app_heading Grunnleggende kurs i kjøretøy klasse 4 med utstyr over tre tonn
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 17mb | v1.0
          .app_box
            .app_box_top
              img.app_icon(src='/images/app_icon5.png')
              .app_heading Sjekkliste for utsjekk til opperasjon i Syria
            .app_box_content
              .app_description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...
              .app_info1 App kategori
              .app_info2 62mb | v1.4
