<!DOCTYPE html>
<html>

<head>
	<title>Mlab Marked</title>
	<link rel="icon" href="img/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div class="hideNoSpace" >Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div class="row_top"><img src="img/top.png"></div>


	<div class="row_content">
		<img class="img" src="img/img.png">	
		<div class="img_banner">&nbsp;</div>
		<div class="img_heading">Mlab Marked</div>
		<img class="img" src="img/imgBottom.png">

		<div class="search">
			<select class="dropdown">
				<option value="FSK">FSK</option>
  				<option value="Sjø">Sjø</option>
  				<option value="Luft">Luft</option>
 				<option value="Land">Land</option>
			</select>

			<img class="arrow" src="img/arrow.png">

			<select class="dropdown">
  				<option value="none">Velg kategori</option>
  				<option value="skarpt">Skarpt</option>
  				<option value="ovelse">Øvelse</option>
  				<option value="skade">Skade</option>
			</select>

			<img class="arrow" src="img/arrow.png">

			<select class="dropdown">
  				<option value="none">Velg kategori</option>
			</select>

		<input class="search_input"><img class="search_img" src="img/magnifying-glass.png">

		</div>
		<div class="apps">
			<H2 class="welcome_heading">Velkommen til Forsvarets App Marked</H2>
			<div class="welcome_text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
  			<H2 class="App_section_heading">Nye Apper:</H2>
<div class="all_apps">
			<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon2.png">
					<div class="app_heading">Grunnleggende kurs i våpenhåndtering - for alle håndholdte våpen</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">12mb | v1.3</div>
				</div>
</div>
			<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon4.png">
					<div class="app_heading">Sikkerhetskurs i behandling av sårbare data</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">21mb | v2.0</div>
				</div>
</div>
<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon6.png">
					<div class="app_heading">Sjekkliste ved brann i HQ - hvem og hva reddes i hvilken rekkefølge</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">3mb | v1.1</div>
				</div>
			</div>
<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon1.png">
					<div class="app_heading">Vitenskapsteori og vitenskapelig praksis, del 1</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">14mb | v3.1</div>
				</div>
			</div>
<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon3.png">
					<div class="app_heading">Grunnleggende kurs i kjøretøy klasse 4 med utstyr over tre tonn</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">17mb | v1.0</div>
				</div>
			</div>
<div class="app_box">
				<div class="app_box_top">&nbsp;
					<img class="app_icon" src="img/app_icon5.png">
					<div class="app_heading">Sjekkliste for utsjekk til opperasjon i Syria</div>
				</div>
				<div class="app_box_content">
					<div class="app_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis...</div>&nbsp;
					<div class="app_info1">App kategori</div><div class="app_info2">62mb | v1.4</div>
				</div>
			</div>
</div>
		</div>
	</div>

</body>
</html>
